/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.list-unstyle {
    list-style: none;
}
:root {
    --maincolor : #7b5244;
    --subcolor : #333;
}
a {
    text-decoration: none;
}
.hvr-border-y {
    position: relative;
    display: block;
}
.hvr-border-y::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 0 2px;
    border-color: var(--maincolor);
    height: 104%;
    width: 100%;
    border-radius: 5px;
    transform: scale3d(1 , 0 , 1);
    transition: transform .3s;
}
.hvr-border-x {
    position: relative;
}
.hvr-border-x::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px 0;
    border-color: var(--maincolor);
    height: 100%;
    width: 104%;
    transform: scale3d(0 , 1 , 1);
    transform-origin: left;
    transition: transform .7s;
}
.mg-y {
    margin: 50px 0;
}
.sec-header {
    width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}
.sec-title{
    text-transform: capitalize;
    color: var(--subcolor);
    margin-bottom: 20px;
}
.line {
    display: block;
    width: 100px;
    margin: auto;
    background-color: var(--maincolor);
    height: 1px;
}
/* Header */
header .header-content {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}
header .header-content ul li {
    display: inline-block;
}
.header-content .nav .bar {
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}
.header-content ul li ,
.header-content ul li a {
    color: var(--subcolor);
}
.header-content .login ul li {
    margin: 0 3px;
    font-size: 20px;
    /* letter-spacing: 2px; */
    transition: transform .3s;
}
.header-content .nav ul li a {
    padding: 15px 20px;
    font-weight: bold;
}
.header-content .login ul li:last-child i{
    position: relative;
    margin-right: 10px;
}
.header-content .login ul li:last-child span {
    font-weight: bold;
    text-transform: uppercase;
}
.header-content .login ul li:last-child i::after {
    position: absolute;
    content: "0";
    color: white;
    font-size: 10px;
    left: 7px;
    top: 10px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--maincolor);
    line-height: 5px;
}
.header-content .nav ul li:hover .hvr-border-y::before {
    transform: scale3d(1 , 1 , 1);
}
.header-content .nav ul li:hover .hvr-border-x::after {
    transform: scale3d(1 , 1 , 1);
}
.header-content .login ul li:hover {
    transform: scale(1.1 , 1.1);
}
.header-content .nav , .header-content .login {
    margin-top: 15px;
}

/* dropdown in nav bar */
.nav .dorp-down {
    position: relative;
}
.nav .drop-down .drop-content ul{
    display: table-cell;

}
.nav .drop-down .drop-content ul li {
    padding: 15px;
}
.nav .drop-down .drop-content ul :first-child {
    border-bottom: 1px solid var(--maincolor);
}
.nav .drop-down .drop-content ul li {display: block;
    margin-right: 20px;
}
.nav .drop-down .drop-content {
    position: absolute;
    width: auto;
    border: 2px solid var(--maincolor);
    margin-top: 15px;
    padding: 0 10px;
    transform: scale(0);
    visibility: hidden;
    transition: transform .5s;
}
.nav .drop-down:hover .drop-content {
    visibility: visible;
    transform: scale(1);
    z-index: 5;
    background-color: white;
}


/* end drop down */
/* slider section */
.silder-content .slid-vec {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}
.silder-content:hover .slid-vec {
    opacity: 1;
    visibility: visible;
}




/* setion catigort */
.catigory .catigory-content {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-column-gap: 5px;
}
.catigory .catigory-content .cat-item img {
    width: 100%;
    margin-bottom: 20px;
}
.catigory .catigory-content .cat-item {
    text-align: left;
    text-transform: capitalize;
    position: relative;
}
.cat-item h5 {
    color: var(--maincolor);
}
.cat-item .icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: var(--maincolor);
    font-size: 30px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s;
    color: var(--subcolor);
}
.cat-item:hover .icon {
    visibility: visible;
    opacity: 1;
    color: white;
}
.catigory {position: relative;}
.catigory .polits {
    position: absolute;
    left: 50%;
    top: 100%;
}
.catigory .polits span {
    display: inline-block;
    background-color: var(--subcolor);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 5px;
    transform: scale(1 , 1);
    transition: transform .3s;
}
.catigory .polits .bull:hover{
    /* background-color: black; */
    transform: scale(2 , 2);

}


/* discount  section*/
.dis-content {
    display: grid;
    grid-template-columns: repeat(1 , 2fr) repeat(2 , 1fr);
    grid-gap: 0 20px;
    text-transform: capitalize;
}
.dis-content .dis-pic img{
    width: 100%;
}
.dis-content .dis-pic {
    position: relative;
}
.dis-content .dis-pic .pic-desc {
    position: absolute;
    top: 10px;
    left: 20px;
}
.dis-content .dis-pic .pic-desc p {
    font-weight: bold;
    margin: 0;
}
.dis-content .dis-pic .pic-desc .ds {
    color: var(--maincolor);
}
.dis-content .dis-desc {
    background-color: #e9d9d4;
    padding: 15px;
    position: relative;
}
.dis-content .dis-desc .ds-title {
    padding-left: 70px;
}
.dis-content .dis-desc .icon {
    position: absolute;
    top: 15px;
    font-size: 50px;
    color: var(--maincolor);
}
.dis-content .dis-desc p, h6 {
    color: var(--maincolor);
}
.dis-content .dis-desc h5 {
    font-weight: bold;
}
.dis-content .dis-pic img:hover {
    transform: scale(1.05 , 1.05);
}


